<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div>
    <a href="login.html">
        <button>登录</button>
    </a>
    <a href="register.html">
        <button>注册</button>
    </a>
    <a href="classify-all.html">
        <button>分类</button>
    </a>
    <a href="register.html">
        <button>注册</button>
    </a>

    搜索：<input  type="text" name="搜索框">
    <input type="button" value="提交">

</div>

<div class="theme cls">
    <div class="selName fl">题材</div>
    <div class="selList fl cls">
        <a href="classify-all.html" title="全部" class="selListItem active">全部</a>
        <a href="classify-qihuan.html" title="奇幻" class="selListItem ">奇幻</a>
        <a href="classify-xuanhuan.html" title="玄幻" class="selListItem ">玄幻</a>
        <a href="classify-xuanyi.html" title="悬疑" class="selListItem ">悬疑</a>
        <a href="classify-rexue.html" title="热血" class="selListItem ">热血</a>
        <a href="classify-gaoxiao.html" title="搞笑" class="selListItem ">搞笑</a>
    </div>
</div>
<div class="category cls">
    <div class="selName fl">区域</div>
    <div class="selList fl cls">
        <a href="classify-all.html" title="全部" class="selListItem active">全部</a>
        <a href="classify-chn.html" title="国漫" class="selListItem ">国漫</a>
        <a href="classify-kor.html" title="韩漫" class="selListItem ">韩漫</a>
        <a href="classify-jap.html" title="日漫" class="selListItem ">日漫</a>
    </div>
</div>

</body>
</html>