<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>mainpage</title>
</head>
<style>

</style>
<body>
   <div>

    <a href="login.html">
        <button>登录</button>
    </a>
    <a href="register.html">
        <button>注册</button>
    </a>
       <a href="classify-all.html">
           <button>分类</button>
       </a>
       <a href="register.html">
           <button>注册</button>
       </a>



   搜索：<input type="text" name="搜索框">
   <input type="button" value="提交">

   </div>




</body>
</html>